<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Personas</title>
    <link rel="stylesheet" href="/public/stylesheets/database.css">
</head>
<body>
    <h1>Listado de Personas</h1>

    <ul>
        <% personas.forEach(function(persona) { %>
            <li><%= persona.nombre %> <%= persona.apellido %> - Edad: <%= persona.edad %></li>
        <% }); %>
    </ul>

    <button id="myButton">Presionar</button>

    <script src="/public/js/database.js"></script>
</body>
</html>
