<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Principal</title>
</head>
<body>
    <h1>Bienvenido a la aplicación</h1>
    <h2>Categorías principales:</h2>
    <ul>
        <% Object.keys(routes).forEach(route => { %>
            <li><a href="<%= route %>"><%= routes[route].title %></a></li>
        <% }); %>
    </ul>
</body>
</html>