<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RESTAURANTE</title>
    <style>

        body {
            margin: 0px;
            padding: 0px;
            background-color: #171717;
        }

        h1 {
            margin-top: 50px;
            font-size: 50px;
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
            text-align: center;
            color: #ffffff;
        }
        
        .boton-elegante {
            display: block;
            padding: 15px 30px;
            margin: 20px auto;
            border: 2px solid #2c2c2c;
            background-color: #1a1a1a;
            color: #ffffff;
            font-size: 1.2rem;
            cursor: pointer;
            border-radius: 30px;
            transition: all 0.4s ease;
            outline: none;
            position: relative;
            overflow: hidden;
            font-weight: bold;
        }

        .boton-elegante::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: radial-gradient(
            circle,
            rgba(255, 255, 255, 0.25) 0%,
            rgba(255, 255, 255, 0) 70%
        );
        transform: scale(0);
        transition: transform 0.5s ease;
        }

        .boton-elegante:hover::after {
        transform: scale(4);
        }

        .boton-elegante:hover {
        border-color: #666666;
        background: #292929;
        }

        button:focus {
            transition: 0.3s;
            transform: scale(0.9) translateY(-5px);
        }
        
        main {
            display: flex;
            margin: 0px 150px;
            padding: 20px;
            flex-direction: column;
            align-items: center; 
            justify-content: center;
            flex-wrap: wrap;
            border-radius: 32px;
            background: linear-gradient(225deg, #1e1e1e, #232323);
            box-shadow:  -35px 35px 70px #1c1c1c,
                        35px -35px 70px #262626;
        }
    </style>
</head>
<body>
    <h1>RESTAURANTE</h1>
    <main>
        <button class="boton-elegante" id="btn_mensual" data-route="/restaurante/upload">
            Subir lista general de pagos mensuales</button>
        <button class="boton-elegante" id="btn_estudiante" data-route="/restaurante/update-pago-form">
            Actualizar pago estudiante</button>
        <button class="boton-elegante" id="btn_hoy" data-route="/restaurante/estadisticas/asistencia-hoy">
            Estadísticas de hoy</button>
        <button class="boton-elegante" id="btn_estadisticas_mes" data-route="/restaurante/asistencia-mes">
            Estadísticas del mes</button>
        <button class="boton-elegante" id="btn_deudores" data-route="/restaurante/upload">
            Deudores</button>
    </main>
    <script>
        const btnMensual = document.getElementById('btn_mensual');
        const btnEstudiante = document.getElementById('btn_estudiante');
        const btnHoy = document.getElementById('btn_hoy');
        const btnEstadisticasMes = document.getElementById('btn_estadisticas_mes');
        const btnDeudores = document.getElementById('btn_deudores');

        btnMensual.addEventListener('click', () => {
        const route = btnMensual.dataset.route;
        window.location.href = route;
        });
        btnEstudiante.addEventListener('click', () => {
        const route = btnEstudiante.dataset.route;
        window.location.href = route;
        });
        btnHoy.addEventListener('click', () => {
        const route = btnHoy.dataset.route;
        window.location.href = route;
        });
        btnEstadisticasMes.addEventListener('click', () => {
        const route = btnEstadisticasMes.dataset.route;
        window.location.href = route;
        });
        btnDeudores.addEventListener('click', () => {
        const route = btnDeudores.dataset.route;
        window.location.href = route;
        });
    </script>
</body>
</html>